
{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id du produit</th>
            <th>Nom</th>
            <th>ID fournisseur</th>
            <th>ID catégorie</th>
            <th>Quantité par unité</th>
            <th>Prix unitaire</th>
            <th>Unité en stock</th>
            <th>Unité en commande</th>
            <th>Niveau d'alerte</th>
            <th>Discontinued</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in obj %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.suppliers.CompanyName }}</td>
            <td>{{ obj.CatID }}</td>
            <td>{{ obj.Qty }}</td>
            <td>{{ obj.UnitPrice }}</td>
            <td>{{ obj.UnitStock }}</td>
            <td>{{ obj.UnitsOrder }}</td>
            <td>{{ obj.ReorderLevel }}</td>
            <td>{{ obj.Discontinued }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}